<% content_for :styles do %>
  <%= stylesheet_link_tag "src/lib/wice_grid" %>
<% end %>

<% content_for :scripts do %>
  <%= javascript_include_tag "src/lib/wice_grid" %>
<% end %>
<div class="submenu">
  <%= render :partial => "admin/users/menu" %>
</div>
<%= notice_message %>
<%= grid(@positions) do |g|
  g.column :column_name => "ID", :attribute_name => "id", :no_filter => true
  g.column :column_name => "职称名", :attribute_name => "name"
  g.column :column_name => "用户数" do |c|
    c.user_profiles.size
  end
  if is_allow("admin/positions", "edit")
    g.column :column_name => "编辑" do |c|
      link_to("编辑", edit_admin_position_path(c))
    end
  end
  if is_allow("admin/positions", "destroy")
    g.column :column_name => "删除" do |c|
      link_to("删除", admin_position_path(c), :method => :delete, :confirm => "你确定要删除吗?")
    end
  end
end -%>
