<% content_for :styles do %>
  <%= stylesheet_link_tag "src/lib/wice_grid" %>
<% end %>

<% content_for :scripts do %>
  <%= javascript_include_tag "src/lib/wice_grid" %>
<% end %>
<div class="submenu">
  <%= render :partial => "admin/roles/menu" %>
</div>
<%= notice_message %>
<%= grid(@permissions) do |g|
  g.column :column_name => "ID", :attribute_name => "id", :no_filter => true
  g.column :column_name => "权限名", :attribute_name => "name"
  g.column :column_name => "控制器名", :attribute_name => "controller_name"
  g.column :column_name => "动作名", :attribute_name => "action_name"
  if is_allow("admin/permissions", "edit")
    g.column :column_name => "编辑", :class => "action" do |c|
      link_to("编辑", edit_admin_permission_path(c))
    end
  end
  if is_allow("admin/permissions", "destroy")
    g.column :column_name => "删除", :class => "action" do |c|
      link_to("删除", admin_permission_path(c), :method => :delete, :confirm => "你确定要删除吗?")
    end
  end
end -%>
