<% content_for :sytles do %>
  <%= stylesheet_link_tag "src/base" %>
<% end -%>
<% content_for :scripts do %>
  <%= javascript_include_tag "src/lib/jquery/jquery.timers", "src/time" %>
  <script type="text/javascript">
    $(document).ready(function(){
        $("#current_time").everyTime("1s", function() {
          $(this).empty().append(current_time);  
        });
    });
  </script>
<% end %>
<div id="header">
  <div id="top" class="container_12">
    <%= image_tag "logo.gif", :id => "logo" %>
    <div id="nav">
      <ul>
        <li><a class="current" href="#">全局设置</a></li>
        <li><a href="#">文章管理</a></li>
        <li><a href="#">评论管理</a></li>
        <li><a href="#">缓存设置</a></li>
      </ul>
    </div>
  </div>
  <div id="sub_col">
    <div class="inner">
      <div id="current_time"></div>
      <div id="current_user">欢迎您：<%= current_user %> | <a href="<%= logout_path %>">注销</a></div>
    </div>
  </div>
</div>
<div id="main"></div>
<div id="footer"></div>

