<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd"> 
<html xmlns="http://www.w3.org/1999/xhtml"> 
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title><%= @page_title unless @page_title.blank? %></title>
		<% unless @keywords.blank? %>
			<meta name="keywords" content="<%= @keywords %>" /> 
		<% end -%>
		<% unless @description.blank? %>
			<meta name="description" content="<%= @description %>" /> 
    <% end -%>
    <%= stylesheet_link_tag "src/lib/960/reset", "src/lib/960/960", "src/base", "src/home/login" %>
  </head>
<div id="top_div"></div>
<div id="login">
  <h1>用户登录</h1>
  <%= notice_message -%>
  <% form_for @user_session, :url => login_user_path do |f| %>
    <div class="col"><%= f.label :login %><%= f.text_field :login %></div>
    <div class="col"><%= f.label :password %><%= f.password_field :password %></div>
    <div class="col checkbox"><%= f.check_box :remember_me %><%= f.label :remember_me %></div>
    <% if Setting.login_captcha.to_bool -%>
      <%= captcha_block "验证码" %>
    <% end -%>
    <div class="col"><%= submit_tag "登录", :disable_with => "提交中..." %></div>
  <% end -%>
</div>

