<% content_for :styles do %>
  <%= stylesheet_link_tag "src/lib/wice_grid" %>
<% end %>

<% content_for :scripts do %>
  <%= javascript_include_tag "src/lib/wice_grid" %>
<% end %>
<div class="submenu">
  <%= render :partial => "menu" %>
</div>
<%= notice_message %>
<%= grid(@roles) do |g|
  g.column :column_name => "ID", :attribute_name => "id", :no_filter => true
  g.column :column_name => "角色名", :attribute_name => "name"
  g.column :column_name => "描述", :attribute_name => "description", :no_filter => true,
    :class => "text_left" do |c|
    truncate(c.description, 44)
  end
  if is_allow("admin/roles", "users")
    g.column :column_name => "用户", :class => "action" do |c|
      link_to("用户", users_admin_role_path(c))
    end
  end
  if is_allow("admin/roles", "edit")
    g.column :column_name => "编辑", :class => "action" do |c|
      link_to("编辑", edit_admin_role_path(c))
    end
  end
  if is_allow("admin/roles", "destroy")
    g.column :column_name => "删除", :class => "action" do |c|
      link_to("删除", admin_role_path(c), :method => :delete, :confirm => "你确定要删除吗?")
    end
  end
end -%>
