<% content_for :styles do %>
  <%= stylesheet_link_tag "src/lib/wice_grid", "src/admin/roles/permissions" %>
<% end -%>
<div class="submenu">
  <%= render :partial => "menu" %>
</div>
<%= notice_message %>
<h6>管理<span class="red"><<%= @role.name if @role %>></span>角色的权限分配:</h6>
<div class="wice_grid_container" id="grid">
  <table class="wice_grid">
    <thead>
      <tr class="wice_grid_title_row">
        <th>模块</th>
        <th>列表</th>
        <th>浏览</th>
        <th>添加</th>
        <th>修改</th>
        <th>删除</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
    <% @permissions.each do |key, value| %>
      <tr>
        <td><%= key %></td>
        <td><%= value.detect { |p| p.action_name == "index" } ? "true" : "false" %></td>
        <td><%= display_permission(value, "show")%></td>
        <td><%= display_permission(value, "new")%></td>
        <td><%= display_permission(value, "edit")%></td>
        <td><%= display_permission(value, "destroy")%></td>
        <td></td>
      </tr>
    <% end -%>
    </tbody>
  </table>
</div>