<% content_for :styles do %>
  <%= stylesheet_link_tag "src/lib/wice_grid", "src/admin/roles/permissions" %>
<% end -%>
<div class="submenu">
  <%= render :partial => "menu" %>
</div>
<%= notice_message %>
<h6>管理<span class="red"><<%= @role.name if @role %>></span>角色的权限分配:</h6>


<% form_for @role, :url => update_permissions_admin_role_path do |f| %>
  <%= hidden_field_tag "role[permission_ids][]", "" %>
  <% @permissions.each do |key, value| %>
    <div class="item">
      <span><%= display_permission_group_name(key) %></span>
      <ul class="permission_list">
        <% value.each do |p| %>
          <li>
            <%= check_box_tag "role[permission_ids][]", p.id, @role_permissions.include?(p), :id => "role_permission_ids_#{p.id}" %>
            <%= label_tag "role_permission_ids_#{p.id}", display_permission_name(p.action_name) %>
          </li>
        <% end -%>
      </ul>
    </div> 
  <% end -%>
  <div class="item">
    <%= f.submit "保存" %>
  </div>
<% end -%>