<ul>
 	<% if is_allow("admin/users", "index") %>
   	<li><a href="<%= admin_users_path %>"<%= current_page("admin/users", "index") %>>会员列表</a></li>
 	<% end -%>
 	<% if is_allow("admin/users", "new") %>
   	<li><a href="<%= new_admin_user_path %>"<%= current_page("admin/users", "new", "create") %>>添加会员</a></li>
  <% end -%>
  <% if ["edit", "update"].index(params[:action]) && "admin/users" == controller.controller_path %>
 	  <% if is_allow("admin/users", "edit") %>
   	  <li><a href="<%= edit_admin_user_path(params[:id]) %>"<%= current_page("admin/users", "edit", "update") %>>修改会员</a></li>
    <% end -%>
  <% end -%>

  <% if is_allow("admin/groups", "index") %>
   	<li><a href="<%= admin_groups_path %>"<%= current_page("admin/groups", "index") %>>部门列表</a></li>
  <% end %>
 	<% if is_allow("admin/groups", "new") %>
   	<li><a href="<%= new_admin_group_path %>"<%= current_page("admin/groups", "new", "create") %>>添加部门</a></li>
  <% end -%>
  <% if ["edit", "update"].index(params[:action]) && "admin/groups" == controller.controller_path %>
 	  <% if is_allow("admin/groups", "edit") %>
   	  <li><a href="<%= edit_admin_group_path(params[:id]) %>"<%= current_page("admin/groups", "edit", "update") %>>修改部门</a></li>
    <% end -%>
  <% end -%>
  
  <% if is_allow("admin/positions", "index") %>
   	<li><a href="<%= admin_positions_path %>"<%= current_page("admin/positions", "index") %>>职称列表</a></li>
  <% end %>
 	<% if is_allow("admin/positions", "new") %>
   	<li><a href="<%= new_admin_position_path %>"<%= current_page("admin/positions", "new", "create") %>>添加职称</a></li>
  <% end -%>
  <% if ["edit", "update"].index(params[:action]) && "admin/positions" == controller.controller_path %>
 	  <% if is_allow("admin/positions", "edit") %>
   	  <li><a href="<%= edit_admin_position_path(params[:id]) %>"<%= current_page("admin/positions", "edit", "update") %>>修改职称</a></li>
    <% end -%>
  <% end -%>
</ul>

