<% content_for :scripts do %>
  <%= javascript_include_tag "src/lib/jquery/jquery.ui.core", "src/lib/jquery/jquery.ui.widget", "src/lib/jquery/jquery.ui.datepicker", "src/lib/jquery/jquery.ui.datepicker-zh-CN" %>
  <script type="text/javascript">
    $(document).ready(function(){
        $("input.date").datepicker({
          changeYear: true,
          yearRange: "1950:2020"
        });
    });
  </script>
<% end %>
<div class="submenu">
  <%= render :partial => "menu" %>
</div>
<% semantic_form_for @user, :url => @user.id ? admin_user_path(@user) : admin_users_path do |f| %>
  <%= f.error_messages %>
	<% f.inputs do %>
    <%= f.input :login %>
    <%= f.input :email %>
  <% end %>
  <% f.inputs :for => :profile do |pf| %>
    <%= pf.input :name %>
    <%= pf.input :gender, :as => :select, :collection => [["女士", Enum::USER_GENDER[:female]], ["先生", Enum::USER_GENDER[:male]]] %>
    <%= pf.input :birthdate, :as => :string, :input_html => {:class => "date"} %>
    <%= pf.input :id_card %>
    <%= pf.input :entry_date, :as => :string, :input_html => {:class => "date"} %>
    <%= pf.input :leave_date, :as => :string, :required => false, :input_html => {:class => "date"} %>
    <%= pf.input :address, :as => :text, :input_html => {:rows => 5} %>
  <% end %>
  <% f.inputs :for => :profile do |pf| %>
    <%= pf.input :group_id, :as => :select, :collection => Group.to_array %>
	  <%= pf.input :position_id, :as => :select, :collection => Position.to_array  %>
	<% end %>
  <% f.buttons do %>
    <%= f.commit_button %>
  <% end %>
<% end %>
