<% unless current_user.permissions.blank? %>
<ul>
		<% if is_allow("home", "index") %>
			<li><a href="<%= root_path %>"<%= current_page("home") %>>我的首页</a></li>
		<% end -%>
		<% if is_allow("admin/users", "index") %>
			<li><a href="<%= admin_users_path %>"<%= current_page("admin/users") %>>人事管理</a></li>
		<% end -%>
		<% if is_allow("admin/home", "index") %>
			<li><a href="<%= admin_root_path %>"<%= current_page("admin/home") %>>管理首页</a></li>
		<% end -%>
</ul>
<% end -%>
