<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd"> 
<html xmlns="http://www.w3.org/1999/xhtml"> 
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title><%= page_title %></title>
		<% unless @keywords.blank? %>
			<meta name="keywords" content="<%= @keywords %>" /> 
		<% end -%>
		<% unless @description.blank? %>
			<meta name="description" content="<%= @description %>" /> 
    <% end -%>
    <%= stylesheet_link_tag "src/lib/960/reset", "src/lib/960/960", "src/lib/jquery-ui", "src/lib/jquery-ui-redmond", "src/base", "src/lib/formtastic" %>
    <%= yield :styles -%>
    <%= javascript_include_tag "src/lib/jquery/jquery-1.4.2", "src/lib/jquery/jquery.ui.core", "src/lib/jquery/jquery.ui.widget", "src/lib/jquery/jquery.ui.datepicker", "src/lib/jquery/jquery.ui.datepicker-zh-CN", "src/lib/jquery/jquery.timers", "src/time" %>
    <%= yield :scripts -%>
		<script type="text/javascript">
	    $(document).ready(function(){
					$("#current_time").append(current_time);
	        $("#current_time").everyTime("1s", function() {
	          $(this).empty().append(current_time);  
	        });
	    });
	  </script>
  </head>
  <body>
		<div id="header">
		  <div id="top" class="container_12">
		    <%= image_tag "logo.gif", :id => "logo" %>
		    <div id="nav">
		      <%= render :partial => "layouts/top_menu" %>
		    </div>
		  </div>
		  <div id="sub_col">
		    <div class="inner">
		      <div id="current_time"></div>
		      <div id="current_user">欢迎您：<%= current_user %> | <a href="<%= logout_path %>">注销</a></div>
		    </div>
		  </div>
		</div>
		<div id="main" class="container_12"><%= yield -%></div>
		<div id="footer"></div>
  </body>
</html>
